<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>About - Page</title>
    </head>
    <body>
        <h1>about us - who are we</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            iusto corporis, sed optio vel soluta debitis quis cupiditate. Eius,
            dolores! Recusandae labore inventore quia vitae possimus, cumque
            modi eligendi nobis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptas repellat ad in fuga amet harum animi
            fugit odit quae optio sint sunt debitis reiciendis aut officia eos,
            temporibus quod! Sed.
        </p>
    </body>
</html>
