<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home - Page</title>
</head>
<body>
    <h1>welcome to home page</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ea deleniti in recusandae eaque voluptas, fugit quam sunt fugiat iste dignissimos quas minus nam cupiditate nisi commodi nobis cum veritatis.</p>
</body>
</html>